@import "../../css/colors.css";
@import "../../css/typo.css";
@import "../../css/normalize.css";

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 938px;
    height: 783px;
    border-radius: 9px;
    background-color: $backgroundFormColor;
    display: flex;
}
