@import "../../css/colors.css";
@import "../../css/typo.css";
@import "../../css/normalize.css";

.controls {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    padding: 0px 40px;
}

.heading {
    margin: 15px 0;
    font-weight: $fontWeightBase;
    color: $headingColor;
    flex-basis: 100%;
    font-size:48px;
}
